:root{
    --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
    --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
    --Very-dark-blue-line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
}
*{
    margin: 0px;
}
@media screen and (min-width:375px) and (max-width:1440px) {
    .box-1 img{
        height: 15rem;
        width: 15rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-1 span{
        font-size: 1.2rem;
    }
    .container-0{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--Very-dark-blue-main-BG);
        font-family: 'Outfit', sans-serif;
    }
    .container-1{
        /* margin-top: 1rem; */
        width: fit-content;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2rem;
        color: var(--White);
        background-color: var(--Very-dark-blue-card-BG);
    }
    .list{
        list-style-type: none;
        display: flex;
        padding: 0px 0px 0px 0px;
        margin: 1rem auto 1rem auto;
    }
    .list-item{
        height: 1rem;
        width: 7rem;
        display: flex;
        font-size: 90%;
        align-items: center;
        
    }
    .box-2{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: var(--Very-dark-blue-line);
        font-size: 0.9rem;
        width: 14rem;
    }
    .list img{
        height: 1rem;
        width: 1rem;
        margin-right: 7%;
    }
    .box-3 img{
        height: 1.5rem;
        width: 1.5rem;
        border: 0.1rem solid var(--White);
        border-radius: 1rem;
        margin-right: 0.5rem;
    }
    .box-3{
        display: flex;
        align-items: center;
        border-top: 0.1rem solid var(--Very-dark-blue-line);
        /* width: max-content; */
        padding-top:1rem;
        font-size: 0.9rem;
    }
}
@media screen and (min-width:1440px){
    .box-1 img{
        height: 15rem;
        width: 15rem;
        border-radius: 1rem;
        margin-bottom: 1rem;
    }
    
    .box-1 span{
        font-size: 1.2rem;
    }
    .container-0{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: var(--Very-dark-blue-main-BG);
        font-family: 'Outfit', sans-serif;
    }
    .container-1{
        /* margin-top: 1rem; */
        width: fit-content;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 2rem;
        color: var(--White);
        background-color: var(--Very-dark-blue-card-BG);
    }
    .list{
        list-style-type: none;
        display: flex;
        padding: 0px 0px 0px 0px;
        margin: 1rem auto 1rem auto;
    }
    .list-item{
        height: 1rem;
        width: 7rem;
        display: flex;
        font-size: 90%;
        align-items: center;
        
    }
    .box-2{
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        color: var(--Very-dark-blue-line);
        font-size: 0.9rem;
        width: 14rem;
    }
    .list img{
        height: 1rem;
        width: 1rem;
        margin-right: 7%;
    }
    .box-3 img{
        height: 1.5rem;
        width: 1.5rem;
        border: 0.1rem solid var(--White);
        border-radius: 1rem;
        margin-right: 0.5rem;
    }
    .box-3{
        display: flex;
        align-items: center;
        border-top: 0.1rem solid var(--Very-dark-blue-line);
        /* width: max-content; */
        padding-top:1rem;
        font-size: 0.9rem;
    }
}
#item-1{
    margin-right: 2rem;
    color: var(--Cyan);
}
#item-2{
    width: 6rem;
    color: var(--Soft-blue);
}
.box-3 span{
    color: var(--Soft-blue);
}